/* GENERAL SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #037cff;
  padding: 22px 80px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 7px;
  font-size: 24px;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* NAVIGATION SECTION */

nav {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
}

ul {
  display: flex;
}

nav > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #037cff;
  font-size: 20px;
}

nav > ul > li > a {
  padding: 0 20px;
  color: #707070;
  font-size: 20px;
}

nav > ul > li > a.active {
  color: #037cff;
}

nav > ul > li > a:hover {
  color: #037cff;
}

/* HEADER SECTION */

header {
  background-image: linear-gradient(rgba(3, 124, 255, 27%), rgba(3, 124, 255, 27%)), url(../images/slider.png);
  background-position: center;
  background-size: cover;
  height: calc(100vh - 112px);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header > section {
  width: 45%;
  color: #fff;
  font-size: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 25px;
}

header > section > h2 {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
}

header > section > p {
  font-weight: 400;
  font-size: .6em;
}

/* ABOUT SECTION */

.about {
  background-color: #fff;
  padding: 100px 0;
}

.about > .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 55px;
}

.about > .container > .img {
  flex: 1;
}

.about > .container > .img > img {
  width: 100%;
}

.about > .container > .about-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
}

.about > .container > .about-info > span {
  color: #037cff;
  font-size: 50px;
}

.about > .container > .about-info > p {
  color: #868686;
  font-size: 18px;
  line-height: 31px;
}

/* SERVICES SECTION */

.services {
  background-color: #f7fbff;
  padding: 100px 0;
}

.services > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 70px;
}

.services > .container > span {
  color: #037cff;
  font-size: 50px;
  font-weight: bold;
}

.services > .container > .services-info {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.services > .container > .services-info > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services .services-info > section > i {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 60px;
  background-color: #fff;
  color: #037cff;
  border-radius: 50%;
}

.services .services-info > section > span {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 7px;
}

.services .services-info > section > p {
  font-size: 18px;
  line-height: 22px;
  color: #868686;
}

/* PROJECTS SECTION */
.projects {
  background-color: #fff;
  padding: 100px 0;
}

.projects > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 70px;
}

.projects > .container > span {
  color: #037cff;
  font-size: 50px;
  font-weight: bold;
}

.projects .projects-info {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.projects .projects-info > .card{
  display: flex;
  flex-direction: column;
  background-color: rgba(169, 207, 252, 10%);
  row-gap: 20px;
  border-radius: 7px;
}

.projects .projects-info > .card > .card-header{
  flex: 1;
}

.projects .projects-info > .card > .card-header > img {
  width: 100%;
}

.projects .projects-info > .card > .card-body {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 0 10px 20px;
}

.card > .card-body > span {
  font-size: 24px;
  font-weight: bold;
}

.card > .card-body > p {
  font-size: 18px;
  line-height: 21px;
  color: #707070;
}

.card > .card-body > a {
  font-size: 18px;
  color: #037cff;
  font-weight: bold;
}